    <img class="photo" src="https://i.pinimg.com/originals/ad/3b/b4/ad3bb457e06baabb5891f4e87b30c7f8.gif" />
    <div id="details">
        <h1>Oops, you broke the internet</h1>
        <p>Just kidding. But it seems Robo, your personal robot, can't find the page you're looking for. Please make sure you've entered the correct address, or return to <a href="/">home</a>.</p>
    </div>

<style>
#details { 
    display: inline-block; 
    vertical-align:middle;
    width: 600px; 
} 
.photo { 
    display: inline-block; 
    vertical-align:middle;
    width: 300px; 
}
</style>